---
layout: base.njk
title: "Archive"
permalink: /archive/
---

<h1>Archive</h1>

{% set currentYear = "" %}
<div class="archive-list">
  {% for post in collections.posts %}
    {% set year = post.date | date('yyyy') %}
    {% if year != currentYear %}
      {% set currentYear = year %}
      <h2>{{ currentYear }}</h2>
    {% endif %}
    <article>
      <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% if post.data.description %}
      <p><em>{{ post.data.description }}&hellip;</em></p>
      {% endif %}
    </article>
  {% endfor %}
</div>
